@import "tailwindcss";

.gridlines {
  background-color: theme('colors.neutral.200');
  background-image:
    linear-gradient(90deg, transparent 49%, #BFBFBF 49%, #BFBFBF 51%, transparent 51%),
    linear-gradient(transparent 49%, #BFBFBF 49%, #BFBFBF 51%, transparent 51%);
  background-position: center center;
}

.old-button {
  @apply
    relative
    border-2
    outline-1
    bg-neutral-300
    border-neutral-400
    border-l-neutral-200
    border-t-neutral-200
    active:border-neutral-200
    active:border-l-neutral-400
    active:border-t-neutral-400
    active:top-0.25
    outline-neutral-500
    focus-visible:outline-2
    focus-visible:outline-neutral-900
    hover:cursor-pointer
}
